main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
main img {
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 4rem;
}
.search {
    width: 100%;
    display: flex;
    position: initial;
    gap: 1em;
    min-height: 45vh;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.home-buttons button {
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    font-size: var(--h4-size);
    cursor: pointer;
    color: grey;
}
.home-buttons button:hover {
    color: var(--text);
}

#disclaimer, #info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    transition: var(--transition);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 99990;
}

#disclaimer p, #info p {
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-size: var(--h4-size);
}

#disclaimer button, #info button {
    border: none;
    border-radius: 1rem;
    font-size: var(--h4-size);
    cursor: pointer;
    padding: .5em 1.5em;
    font-family: var(--font);
    transition: var(--transition);
}

#disclaimer i, #info i {
    font-size: var(--h1-size);
}

#disclaimer {
    background-color: rgb(201, 50, 50);
    color: white;
}

#info {
    background-color: var(--secondary);
    color: var(--primary);
}

#disclaimer button {
    color: rgb(201, 50, 50);
    background-color: var(--background);
}

#disclaimer button:hover {
    background-color: var(--background);
    color: var(--text);
}

#info button {
    color: var(--background);
    background-color: var(--primary);
}

#info button:hover {
    background-color: var(--background);
    color: var(--primary);
}