main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
main img {
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 4rem;
}
.search {
    width: 100%;
    display: flex;
    position: initial;
    gap: 1em;
    min-height: 45vh;
}