@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --transition: all 100ms;
    --spacer: 2em 0;
    --width: min(95%, 1100px);
    --font: 'Inter', sans-serif;
    --font-size: 14px;
    --h1-size: 28px;
    --h2-size: 24px;
    --h3-size: 21px;
    --h4-size: 18px;
    --h5-size: 16px;
    --tiny-size: 10px;

    /*colors*/
    --text: #000000;
    --background: #ffffff;
    --primary: #ff8c00;
    --secondary: #fff5e9;
    --accent: #ffb459;
}