#toc {
    min-width: 300px;
    background-color: var(--background);
    padding-left: 2em;
    height: fit-content;
    position: sticky;
    top: 7rem;
    display: block;
    overflow: auto;
    max-height: 95vh;
    padding-bottom: 1em;
}

#toc nav {
    padding: 0;
    background-color: var(--background);
    background-image: none;
}

#toc ul {
    counter-reset: item;
    list-style-type: none;
}

#toc li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
    color: var(--dark1);
}

#toc a {
    color: var(--accent2);
    text-decoration: none;
}

#toc a:hover {
    text-decoration: underline;
}

#toc a:active {
    color: var(--accent5);
}

#toc ul {
    width: 100%;
}
#toc-toggle {
    display: none;
    position: fixed;
    top: 7.5rem;
    right: 1rem;
    width: 27px;
    height: 27px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .3em;
    background-color: transparent;
    color: var(--text);
    transition: var(--transition);
    background-color: var(--background);
    box-shadow: 0 0 5px 5px #00000006;
    z-index: 3;
}
#toc-toggle i {
    font-size: var(--h4-size);
}
#toc-toggle:hover {
    background-color: var(--primary);
    color: var(--background);
    cursor: pointer;
}

main {
    max-width: 70ch;
}

blockquote {
    padding: .4em;
    border-left: solid 4px var(--primary);
    margin: 1em 0;
    background-color: var(--secondary);
    width: fit-content;
    border-radius: .3em;
}

blockquote p {
    margin-bottom: 0;
}

.table-container {
    width: 100%;
    display: block;
    overflow-x: auto;
    margin: 1em 0;
}

.note-table {
    border-collapse: collapse;
    width: fit-content;
    min-width: 100%;
    caption-side: bottom;
    margin: 1em 0;
}

.note-table.center, .note-table .center {
    text-align: center;
}

thead, tbody {
    background-color: var(--secondary);
    border: 2px solid var(--text);
}

.note-table th, .note-table td {
    border: 1px solid var(--text);
    padding: .3rem .6rem;
    align-items: center;
}

.note-table th {
    color: var(--primary);
}

.note-table caption {
    margin-top: .5em;
    font-size: var(--tiny-size);
    font-style: italic;
}

.note-table .it {
    font-style: italic;
}

.note-table .bf {
    font-weight: bold;
}

.note-table img {
    max-width: 160px;
}

@media (max-width:680px) {
    #toc {
        display: none;
        background-color: var(--background);
        position: fixed;
        z-index: 1;
        top: 6rem;
        left: 0;
        padding: 2em 1em;
        width: 100vw;
        border-bottom: solid 4px var(--primary);
        max-height: 50vh;
        box-shadow: 0 5px 5px 0 #00000016;
    }
    #toc.toggled-by-util {
        display: block;
    }
    main {
        width: 100%;
        padding-right: 0;
    }
    #toc-toggle {
        display: flex;
    }
}