<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{block "title" .}}{{end}}

        <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
        <link rel="manifest" href="/fav/site.webmanifest">


        <link rel="stylesheet" type="text/css" href="/css/root.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        {{block "styles" .}}{{end}}

        <script src="https://kit.fontawesome.com/9ab7bfa7fc.js" crossorigin="anonymous"></script>
        <script data-goatcounter="https://notespgersl.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
            MathJax = {
                tex: {
                  inlineMath: [['$', '$'], ['\\(', '\\)']]
                },
                svg: {
                  fontCache: 'global'
                }
              };

        </script>
        <script type="text/javascript" src="/js/site-map.js" defer></script>
        <script type="text/javascript" src="/js/search.js" defer></script>
        {{block "scripts" .}}{{end}}

    </head>
    <body>
        <nav>
            <div class="nav-content">
                <button class="nav-util" id="site-map-toggle"><i class="fa-solid fa-bars"></i></button>
                <div class="nav-links">
                    {{if not .IsHome}}
                        <a href="/" class="nav-link">Domů</a>
                    {{end}}
                    <a href="/about" class="nav-link">O stránce</a>
                </div>
                {{if not .IsHome}}
                    <button class="nav-util" id="search-toggle"><i class="fa-solid fa-magnifying-glass"></i></button>
                {{end}}
            </div>
        </nav>
        {{block "nav-utils" .}}{{end}}
        <div class="flex-container">
            <aside id="site-map">
                <div class="site-map-content">
                    <div class="aside-title">Poznámky</div>
                    {{$pages := where .Site.Pages ".Params.section" ""}}
                    {{range sort $pages "Params.weight"}}
                        {{partial "site-map-section.html" .}}
                    {{end}}
                </div>
                <div id="site-map-blur"></div>
            </aside>
            {{block "main" .}}{{end}}
            {{block "toc" .}}{{end}}
        </div>
        <footer>
            <div class="footer-content">
                <div class="footer-container">
                    <strong>Notes | Petr Geršl</strong>
                    <p>{{ now.Format "2006" }}</p>
                </div>
                <div class="footer-container">
                    <a id="buy-me-a-coffee" href="https://buymeacoffee.com/petrgersl" id="buy-me-a-coffee"><i class="fa-solid fa-mug-hot"></i></a>
                    <a id="linktree" href="https://linktr.ee/pgersl?utm_source=linktree_profile_share&ltsid=df6a1618-6fb2-4c28-929b-27bc68534dc5"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M128 237.4L253.8 237.4L164.4 152L213.9 101L299.1 188.8L299.1 64L373 64L373 188.8L458.2 101.2L507.6 152L418.2 237.2L543.9 237.2L543.9 307.7L417.5 307.7L507.5 395.3L458.2 445.1L336 322.1L213.8 445.1L164.3 395.5L254.3 307.9L127.9 307.9L127.9 237.4zM298.9 408.8L372.8 408.8L372.8 576L298.9 576L298.9 408.8z"/></svg></a>
                </div>
            </div>
            <div class="subfooter">
                <span>Designed by <a href="https://pgersl.xyz/">Petr Geršl</a></span>
            </div>
        </footer>
    </body>
</html>