{{define "title"}}<title>{{.Title}}</title>{{end}}
{{define "styles"}}<link rel="stylesheet" href="/css/single.css">{{end}}
{{define "scripts"}}<script src="/js/toc.js" defer></script>{{end}}
{{define "nav-utils"}}
    <button id="toc-toggle"><i class="fa-solid fa-list"></i></button>
{{end}}
{{define "toc"}}
    <aside id="toc">
        <div class="aside-title">Obsah</div>
        {{.TableOfContents}}
    </aside>
{{end}}
{{define "main"}}
    <main>
        <div class="main-title">{{.Title}}</div>
        <div class="main-content">{{.Content}}</div>
    </main>
    {{partial "search.html" .}}
{{end}}
