<div class="search">
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input id="search-input" type="text" placeholder="Hledat...">
    </div>
    <div id="search-results-container">
        <div id="search-results"></div>
        <div id="not-found-message">
            ¯\_(ツ)_/¯
        </div>
        <template id="search-result-template">
            <div class="search-result">
                <a class="search-result-title" href=""></a>
            </div>
        </template>
    </div>
</div>